<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.armingrossrieder.smartlots">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListMyLotsActivity"
            android:label="@string/title_activity_list_my_lots"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ListMyLots" />
        <activity android:name=".Search" />
        <activity android:name=".NearMe" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".NearMeMap"
            android:label="@string/title_activity_near_me_map" />
        <activity android:name=".ListLots" />
        <activity android:name=".FEB5NearMe" />
        <activity
            android:name=".FEB6NearMe"
            android:label="@string/title_activity_feb6_near_me"></activity>
    </application>

</manifest>